*{
    margin:0%;
    padding: 0%;
    border: none;
}
body{
    margin: 1%;
    height:98%;
    background-image:url('background.jpg');
    background-size: cover;
    background-attachment: fixed;
}
#summery-page{
    height:100%;
}
.row{
    margin: 1%;  
}
#row3{
    height:500px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    display: none;
}
#row2,#row5,#book-containor,#total ,#edit{
    height:10%;
    color: aliceblue;
    font-size: px;
    background-color: rgba(0, 0, 0, 0.303);
    text-align: center;margin-top: 5px;;
}

#user-name,#title,#book-name{
    height: 60%;
}
input[type=button]{
    width:40%;
    height:40%;
    margin-left: 30%;
    font-size: 25px;
    color: aliceblue;
    background-color: rgba(255, 0, 0, 0.41);
    border-radius: 15px;
}
#button1{
    display: none;
}
#text{
    width:40%;
    height:40%;
    margin-left: 30%;
    font-size: 22px;
    color: rgb(14, 1, 1);
   visibility: hidden;
   text-align: center;
   border-radius: 15px;
}
#row1,.netrow{
    display: flex;
}
#navigation-bar,#books{
    display: flex;
    align-items: center;
    justify-content: center;
}
#edit,#delete{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border:none;
    margin: 5px;
   
}
#bok{
    width:60%;
    overflow-x: hidden;
}

.nav{
    margin-left: 5px;
    font-size: 35px;
}
table{
    width:70%;
    margin: auto;
    background-size: cover;
    background-attachment: fixed;
    color: aliceblue;
}
#edit1{
    background-color: rgba(127, 164, 196, 0.453);
    height:200px;
    width:300px ;
    margin:auto;
    margin-top: 0%;
    border-radius: 15px;
    display: none;
}
#books,#books1{
    margin:auto;
    margin-top: 10px;
    width: 70%;
    border-radius: 15px;
    background-color: rgba(0, 128, 0, 0.418);
    display: flex;
    align-items: center;
    justify-content: center;
}
#books1{
    background-color: rgba(0, 0, 0, 0);
}
#title{
    background-color: rgba(255, 0, 0, 0.41);
}
