
*{
    margin:0px;
    padding:0px;
}
body{
   background-image: url('background.jpg');
   width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.header,.boddy,.welcome,.message1{
    width:98%;
    display: flex;
    align-items: center;
   justify-content: center; 
   color: aliceblue;
}
.header{
    margin:1%;
    background-color: rgba(0, 0, 0, 0.348);
}
.headings{
    padding: 5px;
    font-size: 40px; 
    margin:5px; 
}
.message{
    margin-top: 50px;
    font-size: 20px;
}
.boddy{
    margin-top:150px;
}
.inputs{

    width:300px;
    border: 1px solid black;
    text-align: center;
    font-size: 40px;
   
}
.message1{
    width:100%;
    background-color: rgba(0, 0, 0, 0.505);
}
input[type=text],input[type=password]{
    width:90%;
    height: 30px;
    text-align: center;
    font-size: large;
}
#submit1,#submit{
    width:100px;
    height:25px;
    margin:5px;
}
.error{
    font-size: small;
}
.check{
    margin-top: 30px;
}